@font-face {
    font-family: "";
    src: url("../fonts/Name.ttf");
}
/* reset setting */
html {
    height: 100%;
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #a0a3a7;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; /* при указании внутренних padding - ширина не учитывается */
}
a:hover {text-decoration: none;}
a:active,
a:hover {outline:0;}
img {border: none;}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}
.left {float: left;}
.right {float: right;}
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] { /* delete bootstrap margins where necessary*/
    padding-right:0;
    padding-left:0;
}
/* First section */
#grey {
    background-color: #f8f8f8;
    padding-top: 80px;
}
#grey h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #44474c;
}
.bonus {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f16334;
}
.bonus-text {
    font-size: 14px;
}
.header-img p {
    margin-top: 30px;
    margin-bottom: 20px;
}
#grey .btn {
    padding: 20px;
    background-color: #f16334;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 60px;
    border: none;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
         -o-border-radius: 40px;
            border-radius: 40px;
}
/* Second section */
.here {
    margin-top: 100px;
    margin-bottom: -25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
#white h2 {
    font-size: 46px;
    color: #44474c;
    margin-bottom: 30px;
}
.line {
    text-align: center;
    margin-left: 47%;
    width: 60px;
    height: 2px;
    background-color: #f16334;
}
#icons {
    margin-top: 50px;
    margin-bottom: 5px;
}
#icons p {
    font-size: 14px;
}
.separator {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 110px;
    background: url("../img/divider.jpg") no-repeat;
    background-size: cover;
}
/* Third section */
#orange {
    background-color: #f16334;
}
#orange h3 {
    color: #FFFFFF;
    font-size: 28px;
    padding-top: 20px;
}
#orange .btn {
    margin-top: 20px;
    padding: 20px 50px;
    background-color: #f16334;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 60px;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
         -o-border-radius: 40px;
            border-radius: 40px;
}
/* Footer */
#footer {
    background-color: #f16334;
    padding: 10px;
    border-top: 1px solid #ff774a;
}
.copy {
    padding-top: 10px;
}
.copy-line {
    border-left: 1px solid #ff774a;
}
#footer p {
    color: #FFFFFF;
    font-size: 11px;
}
.to-right p {
    float: right;
    padding-top: 10px;
}
#footer img {
    padding-top: 5px;
}
/* Modal window */
.modal-content {
    background-color: #f8f8f8;
}
.modal-header {
    padding: 0;
}
.modal-header .close {
    margin-top: 0;
}
button.close {
    opacity: 1;
    font-weight: lighter;
    background-color: #9cadb1;
    padding: 7px 9px;
    color: #FFFFFF;
    -webkit-border-bottom-left-radius: 10px;
       -moz-border-bottom-left-radius: 10px;
         -o-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
    -webkit-border-top-right-radius: 5px;
       -moz-border-top-right-radius: 5px;
         -o-border-top-right-radius: 5px;
            border-top-right-radius: 5px;   

}
.close:hover,
.close:focus {
    opacity: 1;
    background-color: #9cadb1;
}
.progress {
    width: 60%;
    margin-left: 20%;
    height: 30px;
    background-color: #eaeff1;
    border-radius: 40px;
}
.progress-bar-warning {
    background-color: #f16334;
}
.percent p {
    padding-top: 5px;
}
.form-control {
    width: 80%;
    margin: 0 auto;
    padding: 30px
}
.first-form{
    margin-top: 20px;
}
#reserve-window .btn {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #f16334;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
         -o-border-radius: 40px;
            border-radius: 40px;
}

/* @media */
@media only screen and (min-width: 767px) {
    .separator {
        display: block;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* Second section */
    .separator {
        display: none;
    }
    .last-icon {
        margin-bottom: 80px;
    }
    #icons p img {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px) {
    /* First section */
    #grey h1 {
        font-size: 30px;
    }
    .bonus {
        font-size: 14px;
    }
    .bonus-text {
        font-size: 12px;
    }
    .btn {
        width: 100%;
    }
    /* Second section */
    .here {
        font-size: 12px;
    }
    #white h2 {
        font-size: 26px;
    }
    .line {
        margin-left: 41%;
        width: 50px;
        height: 2px;
    }
    .last-icon {
        margin-bottom: 80px;
    }
    #icons p img {
        margin-top: 10px;
    }
    .separator {
        display: none;
    }
    /* Third section */
    #orange h3 {
        font-size: 24px;
    }
    #orange .btn {
        margin-bottom: 50px;
    }
    /* Footer */
    .copy-line {
        border: none;
    }
    .to-right p {
        float: right;
    }
    #footer img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
